<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>список пользователей</title>
</head>
<body align="center">
<h1>Весь список пользователей</h1>
<table class="table" align="center">
        <tr>
            <th align="center">ID</th>
            <th align="center">имя</th>
        </tr>
    <th:block th:each="user : ${allUsers}">
        <tr>
            <th align="center" th:text="${user.id}"></th>
            <th align="center" th:text="${user.name}"></th>
        </tr>
    </th:block>
</table>
<br>
<a href="/add">добавить пользователя</a>
</body>
</html>