<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Добавление нового продукта</title>
    <style>
        body {
            background-color: #CCFFCC;
            background-image: url(../../static/img/bg.jpg);
        }
    </style>
</head>
<body align="center">
<%@include file="../header.html" %>
<nav class="navbar navbar-light" style="background-color: #bdb6b6;">
    <h3>
        <ul>
            <a href="/content" class="text-primary">Главная</a> |
            <a href="/product/allproduct">Список всех продуктов</a> |
            <a href="/selectcategorybyread">Получить список одной категории</a> |
            <a href="/product/addproduct">Добавить новый продукт</a>|
            <a href="/product/bascket">Корзина</a>|
            <a href="/product/buystarted">Касса</a>|
            <a href="/">На стартовую страницу</a>
        </ul>
    </h3>
</nav>
<h2>Добавление продукта:</h2>

<form  action="/product/addproduct" method="post">

    категория<br><label>
    <select name="category">
        <option value="FRUITS">FRUITS</option>
        <option value="BERRIES">BERRIES</option>
        <option value="VEGETABLES">VEGETABLES</option>
        <option value="MILK_PRODUCT">MILK_PRODUCT</option>
        <option value="MEAT">MEAT</option>
        <option value="ALCOHOLIC_BEVERAGES">ALCOHOLIC_BEVERAGES</option>
    </select>
</label><br>
    <label><input name="name" placeholder="Название" type="text"></label><br/>
    <label><input name="price" placeholder="цена, BYN" type="text"></label> <br/>
    <label><input name="discount" placeholder="Скидка, %" type="text"></label> <br/>
    <label><input name="totalVolume" placeholder="Наличие, кг(шт)" type="text"></label> <br/>
    <br> <input type="image" src="/download/xls/save.jpg"
                width="50" height="50" alt="Добавить новый продукт" value="Сохранить">
</form>
<br>
<br>
<a href="/content">Back</a>
<br>
<br>
<%@include file="../footer.html" %>
<br>
<br>
</body>
</html>