<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core" %>
<%@ page contentType="text/html;charset=UTF-8"%>
<html>
<head>
    <title>Касса</title>
    <style>
        body {
            background-color: #CCFFCC;
            background-image: url(../../static/img/bg.jpg);
        }
    </style>
</head>
<body align="center">
<%@include file="../header.html"%>
<nav class="navbar navbar-light" style="background-color: #bdb6b6;">
    <h3>
        <ul>
            <a href="/content" class="text-primary">Главная</a> |
            <a href="/product/allproduct">Список всех продуктов</a> |
            <a href="/selectcategorybyread">Получить список одной категории</a> |
            <a href="/product/addproduct">Добавить новый продукт</a>|
            <a href="/product/bascket">Корзина</a>|
            <a href="/product/buystarted">Касса</a>|
            <a href="/">На стартовую страницу</a>
        </ul>
    </h3>
</nav>
<h3>Перейти к этапу выбора товаров?</h3>

<form action="/product/allproduct" method="get">
    <input type="submit" value="Список продуктов">
</form>
<form action="/product/buyproduct" method="get">
    <input type="submit" value="В кассу">
</form>
<%@include file="../footer.html"%>
<br>
<br>
</body>
</html>
