<html lang="ru">
<head>
    <title>Учет продуктов</title>
    <style>
        body {
            background-color: #CCFFCC;
            background-image: url(../../static/img/bg.jpg);
        }
    </style>
</head>
<body align="center">
<%@include file="../header.html" %>
<nav class="navbar navbar-light" style="background-color: #bdb6b6;">
    <h3>
        <ul>
            <a href="/content" class="text-primary">Главная</a> |
            <a href="/product/allproduct">Список всех продуктов</a> |
            <a href="/selectcategorybyread">Получить список одной категории</a> |
            <a href="/product/addproduct">Добавить новый продукт</a>|
            <a href="/product/bascket">Корзина</a>|
            <a href="/product/buystarted">Касса</a>|
            <a href="/">На стартовую страницу</a>
        </ul>
    </h3>
</nav>
<h1>Система учета продуктов</h1>

<table class="table" align="center">
    <tr>
        <th width="100" align="center">
            <a href="/product/allproduct">
                <img src="/download/xls/allproduct.jpg"
                     width="400" height="400" alt="Список всех продуктов"><h3>Список всех продуктов</h3></a></p>
        </th>
        <th width="100" align="center">
            <a href="/product/addproduct">
                <img src="/download/xls/add.png"
                     width="400" height="400" alt="Добавить новый продукт"><h3>Добавить новый продукт</h3></a></p>
        </th>
    </tr>
  </table>
<%@include file="../footer.html" %>
</body>
</html>
