<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core" %>
<%@ page contentType="text/html;charset=UTF-8"%>
<html>
<head>
    <title>Удаление продукта</title>
    <style>
        body {
            background-color: #CCFFCC;
            background-image: url(../downloads/xls/bg.jpg);
        }
    </style>
</head>
<body align="center">
<%@include file="../header.html"%>
<%@include file="nav.jsp"%>
<h2>Удаление продукта</h2>
<h3>Продукт удален из корзины!!</h3>
<%@include file="../footer.html"%>
<br>
<br>
</body>
</html>
