<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Экспорт данных</title>
    <style>
        body {
            background-color: #CCFFCC;
            background-image: url(/img/bg.jpg);
        }
    </style>
</head>
<body align="center">
<div th:insert="~{header :: head}"></div>
<div th:insert="~{adminpages/nav :: nav}"></div>
<h3>Список успешно сформирован. Нажмите на значок, для скачивания</h3>
<a href="#" th:href="@{/download/img/productlist.xls}" title="Сохранить">
    <input type="image" th:src="@{/img/excel.png}"
           width="100" height="100" alt="Экспорт в Excel файл" value="Экспорт в Excel файл"></a>
<br>
<br>
<a href="/content">Back</a>
<br>
<br>
<div th:include="footer"></div>
<br>
<br>
</body>
</html>