<%@ page contentType="text/html;charset=UTF-8"%>
<html>
<head>
    <title>Экспорт данных</title>
    <style>
        body {
            background-color: #CCFFCC;
            background-image: url(../../static/img/bg.jpg);
        }
    </style>
</head>
<body align="center">
<%@include file="../header.html" %>
<nav class="navbar navbar-light" style="background-color: #bdb6b6;">
    <h3>
        <ul>
            <a href="/content" class="text-primary">Главная</a> |
            <a href="/product/allproduct">Список всех продуктов</a> |
            <a href="/selectcategorybyread">Получить список одной категории</a> |
            <a href="/product/addproduct">Добавить новый продукт</a>|
            <a href="/product/bascket">Корзина</a>|
            <a href="/product/buystarted">Касса</a>|
            <a href="/">На стартовую страницу</a>
        </ul>
    </h3>
</nav>
<h3>Список покупок очищен. Для продолжения работы выберите соответствующий пункт</h3>

<br>
<br>
<a href="/content">Back</a>
<br>
<br>
<%@include file="../footer.html" %>
<br>
<br>
</body>
</html>
