<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <style type="text/css">
        #content {
            width: 500px;
            margin: 0 auto 50px;
        }
        #footer {
            position: fixed;
            left: 0; bottom: 0;
            padding: 10px;
            background: #F5DEB3;
            color: #fff;
            width: 100%;
        }
    </style>
</head>
<body>
<div id="footer" th:fragment="foot">
   &copy; kasyanl<br>
        <a href="https://moodle.jrr.by/" target="_blank">Курсы по JAVA on-line</a>
</div>
</body>
</html>