<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Система учета продуктов</title>
    <style>
        body {
            background-color: #CCFFCC;
            background-image: url(/img/bg.jpg);
        }
    </style>
</head>
<body align="center">
<div th:insert="~{header :: head}"></div>
<h2>Добро пожаловать в Систему учета продуктов.
    <br>Для работы с базой данных введите логин и пароль, либо войдите как гость (доступна возможность только просмотра)
</h2>

<form action="/person/startlogin" method="post">
    <label><input name="login" placeholder="Логин" type="text"></label> <br/>
    <label><input name="password" placeholder="Пароль" type="text"></label> <br/>
    <input type="submit" value=Войти>
</form>
<h4><a href="/contentguest">Зайти как ГОСТЬ</a></h4>
<br>

<div id="map" style="height: 400px"></div>
<script src="http://api-maps.yandex.ru/2.1/?load=package.full&lang=ru-RU" type="text/javascript"></script>
<script type="text/javascript">
    var myMap;
    ymaps.ready(init); // Ожидание загрузки API с сервера Яндекса
    function init() {
        myMap = new ymaps.Map("map", {
            center: [53.902284, 27.561831], // Координаты центра карты
            zoom: 13
            // controls: ['smallMapDefaultSet']// Zoom
        }, {
            searchControlProvider: 'yandex#search'
        }),
            // Создаем геообъект с типом геометрии "Точка".
            myGeoObject = new ymaps.GeoObject({
                // Описание геометрии.
                geometry: {
                    type: "Point",
                    coordinates: [53.902284, 27.561831]
                },
                // Свойства.
                properties: {
                    // Контент метки.
                    iconContent: 'Октябрьская площадь',
                    hintContent: 'нулевой километр Беларуси'
                }
            }, {
                // Опции.
                // Иконка метки будет растягиваться под размер ее содержимого.
                preset: 'islands#blackStretchyIcon',
                // Метку можно перемещать.
                draggable: false
            }),

            myMap.geoObjects
                .add(myGeoObject)
                .add(new ymaps.Placemark([53.895881, 27.556109], {
                    balloonContent: 'МСХП',
                    iconCaption: 'Работа'
                }, {
                    preset: 'islands#governmentCircleIcon',
                    iconColor: '#3b5998'
                }));
    }
</script>

<br>
<div th:include="footer"></div>
<br>
<br>
</body>
</html>