<%@ page contentType="text/html;charset=UTF-8" %>
<html>
<body link="red" vlink="#1a3926" alink="#ff0000">
<h3>
    <nav class="navbar navbar-light" style="background-color: #bdb6b6;">
        <ul>
            <a href="/contentguest">Главная</a> |
            <a href="/product/allproductguest">Список всех продуктов</a> |
            <a href="/selectcategorybyreadguest">Получить список одной категории</a> |
            <a href="/">На стартовую страницу</a>
        </ul>
    </nav>
</h3>
</body>
</html>
