<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Система учета продуктов</title>
    <style>
        body {
            background-color: #CCFFCC;
            background-image: url(../downloads/xls/bg.jpg);
        }
    </style>
</head>
<body align="center">
<%@include file="../header.html"%>
<%@include file="navguest.html"%>
<h1>Выберите категориию:</h1>
<div face="arial" size="+1">
    <li><a href="/product/finefruitsguest/FRUITS">FRUITS</a>
    <li><a href="/product/finefruitsguest/BERRIES">BERRIES</a>
    <li><a href="/product/finefruitsguest/VEGETABLES">VEGETABLES</a>
    <li><a href="/product/finefruitsguest/MILK_PRODUCT">MILK_PRODUCT</a>
    <li><a href="/product/finefruitsguest/MEAT">MEAT</a>
    <li><a href="/product/finefruitsguest/ALCOHOLIC_BEVERAGES">ALCOHOLIC_BEVERAGES</a>
</div>
<br>
<br>
<a href="/contentguest">Back</a>
<br>
<br>
<%@include file="../footer.html"%>
<br>
<br>
</body>
</html>