<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Система учета продуктов</title>
    <style>
        body {
            background-color: #CCFFCC;
            background-image: url(/static/img/bg.jpg);
        }
    </style>
</head>
<body align="center">
<div th:insert="~{header :: head}"></div>
<div th:include="guestpages/navguest"></div>
<th:block>
    <h1>Продукты категории <b th:text="${categoryNameGuest}"></b>:</h1>
</th:block>
<table class="title" align="right">
    <tr>
        <th>
            <a  href="#" th:href="@{/product/exportexcel/{category}(category=${categoryNameGuest})}" title="Экспорт в Excel файл">
                <input type="image" src="/static/img/excel.png"
                       width="100" height="100" alt="Экспорт в Excel файл" value="Экспорт в Excel файл"></a>
        </th>
    </tr>
</table>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
    <table class="table" align=center>
        <tr align=center>
            <td width="100"><b> ID</b></td>
            <td><b> категория</b></td>
            <td><b> название</b></td>
            <td width="100"><b> цена, BYN</b></td>
            <td width="100"><b> скидка, %</b></td>
            <td width="100"><b> конечная цена, BYN</b></td>
            <td width="100"><b> наличие, кг(шт)</b></td>
        </tr>

        <th:block th:each="product : ${finecategoryguest}">
            <tr>
                <td align="center" th:text="${product.id}"></td>
                <td align="center" th:text="${product.category}"></td>
                <td align="center" th:text="${product.name}"></td>
                <td align="center" th:text="${product.price}"></td>
                <td align="center" th:text="${product.discount}"></td>
                <td align="center" th:text="${product.actualPrice}"></td>
                <td align="center" th:text="${product.totalVolume}"></td>
            </tr>
        </th:block>
        <tr align=center>
            <td><b> ID</b></td>
            <td><b> категория</b></td>
            <td><b> название</b></td>
            <td><b> цена, BYN</b></td>
            <td><b> скидка, %</b></td>
            <td><b> конечная цена, BYN</b></td>
            <td><b> наличие, кг(шт)</b></td>
        </tr>
    </table>

<a href="/selectcategorybyreadguest">Back</a>
<br>
<br>
<div th:include="footer"></div>
<br>
<br>
</body>
</html>