<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Система учета продуктов</title>
    <style>
        body {
            background-color: #CCFFCC;
            background-image: url(/img/bg.jpg);
        }
    </style>
</head>
<body align="center">
<div th:insert="~{header :: head}"></div>
<div th:include="guestpages/navguest"></div>
<h1>Система учета продуктов</h1>
<h2>Вы зашли как <b>ГОСТЬ</b>. Функционал программы ограничен до уровня просмотра.
</h2>
<div th:include="footer"></div>
</body>
</html>
