<html lang="en">
<body link="red" vlink="#1a3926" alink="#ff0000">
<div th:fragment="navGuest" class="navbar"></div>
<nav class="navbar navbar-light" style="background-color: #bdb6b6;">
    <h3>
        <ul>
            <a href="/contentguest">Главная</a> |
            <a href="/product/allproductguest">Список всех продуктов</a> |
            <a href="/selectcategorybyreadguest">Получить список одной категории</a> |
            <a href="/">На стартовую страницу</a>
        </ul>
    </h3>
</nav>
</body>
</html>
