<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Система учета продуктов</title>
    <style>
        body {
            background-color: #CCFFCC;
            background-image: url(/static/img/bg.jpg);
        }
    </style>
</head>
<body align="center">
<div th:insert="~{header :: head}"></div>
<div th:insert="~{adminpages/nav :: nav}"></div>
<th:block>
    <h1>Продукты категории <b th:text="${categoryName}"></b>:</h1>
</th:block>
<table class="title" align="right">
    <tr>
        <th>
            <a href="#" th:href="@{/product/categorydiscount/{category}(category=${categoryName})}" title="Изменить скидку для категории">
                <input type="image" src="/static/img/procent.png"
                       width="100" height="100" alt="Экспорт в Excel файл" value="Экспорт в Excel файл"></a>
        </th>
        <th>
            <a  href="#" th:href="@{/product/exportexcel/{category}(category=${categoryName})}" title="Экспорт в Excel файл">
                <input type="image" src="/static/img/excel.png"
                       width="100" height="100" alt="Экспорт в Excel файл" value="Экспорт в Excel файл"></a>
        </th>
    </tr>
</table>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
    <table class="table" align=center>
        <tr align=center>
            <td width="100"><b> ID</b></td>
            <td><b> категория</b></td>
            <td><b> название</b></td>
            <td width="100"><b> цена, BYN</b></td>
            <td width="100"><b> скидка, %</b></td>
            <td width="100"><b> конечная цена, BYN</b></td>
            <td width="100"><b> наличие, кг(шт)</b></td>
            <td></td>
            <td></td>
        </tr>

        <th:block th:each="product : ${categoryProduct}">
            <tr>
                <td align="center" th:text="${product.id}"></td>
                <td align="center" th:text="${product.category}"></td>
                <td align="center" th:text="${product.name}"></td>
                <td align="center" th:text="${product.price}"></td>
                <td align="center" th:text="${product.discount}"></td>
                <td align="center" th:text="${product.actualPrice}"></td>
                <td align="center" th:text="${product.totalVolume}"></td>
                <td><a href="#" th:href="@{/product/deleteproduct/{id}(id=${product.id})}" title="Удалить"
                       th:data-category="${product.category}" th:data-name="${product.name}"
                       onclick="return confirm('Удалить продукт ' + this.getAttribute('data-name') + ' категории '
                    + this.getAttribute('data-category') + '?')">
                    <input type="image" th:src="@{/static/img/del.png}" width="18" height="18" alt="Удалить"></a></td>
                <td><a href="#" th:href="@{/product/editproduct/{id}(id=${product.id})}" title="Изменить"
                       th:data-category="${product.category}" th:data-name="${product.name}"
                       onclick="return confirm('Изменить данные ' + this.getAttribute('data-name') + ' категории '
                    + this.getAttribute('data-category') + '?')">
                    <input type="image" th:src="@{/static/img/edit.jpg}" width="18" height="18" alt="Изменить"></a></td>
            </tr>
        </th:block>
        <tr align=center>
            <td><b> ID</b></td>
            <td><b> категория</b></td>
            <td><b> название</b></td>
            <td><b> цена, BYN</b></td>
            <td><b> скидка, %</b></td>
            <td><b> конечная цена, BYN</b></td>
            <td><b> наличие, кг(шт)</b></td>
            <td></td>
            <td></td>
        </tr>
    </table>

<a href="/selectcategorybyread">Back</a>
<br>
<br>
<div th:include="footer"></div>
<br>
<br>
</body>
</html>