<html lang="ru">
<head>
    <title>Учет продуктов</title>
    <style>
        body {
            background-color: #CCFFCC;
            background-image: url(/static/img/bg.jpg);
        }
    </style>
</head>
<body align="center">
<div th:insert="~{header :: head}"></div>
<div th:insert="~{adminpages/nav :: nav}"></div>
<h1>Система учета продуктов</h1>

<table class="table" align="center">
    <tr>
        <th width="100" align="center">
            <a href="/product/allproduct">
                <img src="/static/img/allproduct.jpg"
                     width="400" height="400" alt="Список всех продуктов"><h3>Список всех продуктов</h3></a></p>
        </th>
        <th width="100" align="center">
            <a href="/product/addproduct">
                <img src="/static/img/add.png"
                     width="400" height="400" alt="Добавить новый продукт"><h3>Добавить новый продукт</h3></a></p>
        </th>
    </tr>
  </table>
<div th:include="footer"></div>
</body>
</html>
