<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Изменение данных.</title>
    <style>
        body {
            background-color: #CCFFCC;
            background-image: url(/static/img/bg.jpg);
        }
    </style>
</head>
<body align="center">
<div th:insert="~{header :: head}"></div>
<div th:insert="~{adminpages/nav :: nav}"></div>
<h2>Замените необходимые данные:</h2>

<form action="#" th:href="@{/product/editproduct/{id}(id=${getId})}" method="post">
    <label>
        категория<br>
        <select th:value="${getCategory}" name="category">
            <option th:value="${getCategory}"> <b th:text="${getCategory}"></b></option>
            <th:block th:each="product : ${categoryName}">
            <option th:value="${product}"><b th:text="${product}"></b></option>
            </th:block>>
        </select>
    </label><br/>
    название продукта<br>
    <label><input name="name" placeholder="название" type="text" th:value="${getName}"></label> <br/>
    стоимость подукта, BYN<br>
    <label><input name="price" placeholder="цена" type="text" th:value="${getPrice}"></label> <br/>
    скидка продукта, %<br>
    <label><input name="discount" placeholder="скидка" type="text" th:value="${getDiscount}"></label> <br/>
    наличе, кг(шт)<br>
    <label><input name="totalVolume" placeholder="наличие" type="text"
                  th:value="${getTotalVolume}"></label> <br/>
    <br> <input type="image" src="/static/img/save.jpg"
                width="50" height="50" alt="Добавить новый продукт" value="Сохранить">
</form>
<a href="/content">Home</a>
<br>
<br>
<br>
<div th:include="footer"></div>
<br>
<br>
</body>
</html>