<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Касса</title>
    <style>
        body {
            background-color: #CCFFCC;
            background-image: url(/static/img/bg.jpg);
        }
    </style>
</head>
<body align="center">
<div th:insert="~{header :: head}"></div>
<h1>Проверьте, пожалуйста, список покупок</h1>

<table class="table" align="center">
    <tr>
        <th width="100" align="center"><b> ID</b></th>
        <th align="center"><b> название</b></th>
        <th width="100" align="center"><b> цена, BYN</b></th>
        <th idth="100" align="center"><b> количество</b></th>
        <th width="100" align="center"><b> конечная цена, BYN</b></th>
        <th width="100" align="center"><b></b></th>
    </tr>
    <th:block th:each="buyProduct : ${product}">
        <tr>
            <td align="center" th:text="${buyProduct.id}"></td>
            <td align="center" th:text="${buyProduct.name}"></td>
            <td align="center" th:text="${buyProduct.actualPrice}"></td>
            <td align="center" th:text="${buyProduct.quantity}"></td>
            <td align="center" th:text="${buyProduct.totalPrice}"></td>
            <td><a href="#" th:href="@{/product/deleteproductbuy(id=${buyProduct.id})}" title="Удалить"
                  th:data-name="${buyProduct.name}"
                   onclick="return confirm('Удалить продукт ' + this.getAttribute('data-name') + '?')">
                <input type="image" th:src="@{/static/img/del.png}" width="18" height="18" alt="Удалить"></a>
            </td>
        </tr>
    </th:block>
    <tr> </tr>
    <tr> </tr>
    <tr> </tr>
    <tr> </tr>
    <tr>
        <th align="center"><b></b></th>
        <th align="center"><b></b></th>
        <th width="100" align="center"><b></b></th>
        <th>Итого:</th>
        <th th:text="${totalPriceEnd}"></th>
        <th><b> BYN </b></th>
    </tr>
</table>
<a href="/product/checkend" title="Оплатить">
    <input type="image" src="/static/img/kassa.png"
           width="100" height="100" alt="Оплатить" value="Оплатить"></a>
<a href="/product/failbuyproduct" title="Отмена">
    <input type="image" src="/static/img/del.png"
           width="100" height="100" alt="Отмена" value="Отмена"></a>
<br>
<br>
<br>
<a href="/content">Back</a>
<br>
<br>
<div th:include="footer"></div>
<br>
<br>
</body>
</html>