<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Экспорт данных</title>
    <style>
        body {
            background-color: #CCFFCC;
            background-image: url(/img/bg.jpg);
        }
    </style>
</head>
<body align="center">
<div th:insert="~{header :: head}"></div>
<div th:insert="~{adminpages/nav :: nav}"></div>
<h3>Список покупок очищен. Для продолжения работы выберите соответствующий пункт</h3>

<br>
<br>
<a href="/content">Back</a>
<br>
<br>
<div th:include="footer"></div>
<br>
<br>
</body>
</html>
