<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Система учета продуктов</title>
    <style>
        body {
            background-color: #CCFFCC;
            background-image: url(/static/img/bg.jpg);
        }
    </style>
</head>
<body align="center">
<div th:insert="~{header :: head}"></div>
<div th:insert="~{adminpages/nav :: nav}"></div>
<th:block>
<h2>Установите новую единую скидку для категории <b th:text="${categoryName}"></b>:</h2>
</th:block>
<form th:action="@{/product/categorydiscount/{category}(category=${categoryName})}" method="post">
    Новая скидка:<br>
    <label><input name="discount" placeholder="Скидка, %" type="text"></label>
    <br> <input type="image" src="/static/img/save.jpg"
                width="50" height="50" alt="Добавить новый продукт" value="Сохранить">
    <br>
</form>
<a href="/content">Home</a>
<br>
<br>
<br>
<div th:include="footer"></div>
<br>
<br>
</body>
</html>