<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Система учета продуктов</title>
    <style>
        body {
            background-color: #CCFFCC;
            background-image: url(/static/img/bg.jpg);
        }
    </style>
</head>
<body align="center">
<div th:insert="~{header :: head}"></div>
<div th:insert="~{adminpages/nav :: nav}"></div>
<h1>Выберите категориию:</h1>

<table class="table">
    <th:block th:each="product : ${categoryName}">
        <tr>
            <a href="#" th:href="@{/product/categoryfind/{category}(category=${product})}"><b th:text="${product}"></b></a><br>
        </tr>
    </th:block>
</table>
<br>
<br>
<a href="/content">Back</a>
<br>
<br>
<div th:include="footer"></div>
<br>
<br>
</body>
</html>