<html>
<body>
<div th:fragment="sortproduct" id="content">
    <tr>
        <th><a href="/product/a/sortbyid"> &#x21D1; </a></th>
        <th><a href="/product/a/sortbyidreverse">&#x21D3; </a></th>
        <th><a href="/product/a/sortbycategory">&#x21D1; </a></th>
        <th><a href="/product/a/sortbycategoryreverse">&#x21D3; </a></th>
        <th><a href="/product/a/sortbyname">&#x21D1; </a></th>
        <th><a href="/product/a/sortbynamereverse">&#x21D3;</a></th>
        <th><a href="/product/a/sortbyprice">&#x21D1; </a></th>
        <th><a href="/product/a/sortbypricereverse">&#x21D3; </a></th>
        <th><a href="/product/a/sortbydiscount">&#x21D1; </a></th>
        <th><a href="/product/a/sortbydiscountreverse">&#x21D3; </a></th>
        <th><a href="/product/a/sortbyactualprice">&#x21D1; </a></th>
        <th><a href="/product/a/sortbyactualpricereverse">&#x21D3; </a></th>
        <th><a href="/product/a/sortbytotalvolume">&#x21D1; </a></th>
        <th><a href="/product/a/sortbytotalvolumereverse">&#x21D3; </a></th>
    </tr>
</div>
</body>
</html>