<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Система учета продуктов</title>
    <style>
        body {
            background-color: #CCFFCC;
            background-image: url(/img/bg.jpg);
        }
    </style>
</head>
<body align="center">
<div th:insert="~{header :: head}"></div>
<h4>Логин и/или пароль не верен. Пожалуйста, повторите попытку</h4>

<form action="/person/startlogin" method="post">
    <label><input name="login" placeholder="Логин" type="text"></label> <br/>
    <label><input name="password" placeholder="Пароль" type="text"></label> <br/>
    <input type="submit" value=Войти>
</form>
<br>
<br>
<h4><a href="/contentguest">Зайти как ГОСТЬ</a></h4>
<br>
<br>
<div th:include="footer"></div>
<br>
<br>
</body>
</html>
